.card-projeto{
  background-color: azure;
  border: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secao-projetos{
  padding: 20px;
  gap: 10px;
}

.projetos{
  display: grid;
  grid-template-columns: repeat(2, 30vw);
  gap: 20px;
}

.card-projeto img{
  width: 20vw;
  height: 20vw;
  object-fit: scale-down;
  border: 1px solid #ddd;
  flex-shrink: 0;
}

.card-projeto img:hover{
  width: 25vw;
  height: 25vw;
}

.card-projeto h3{
  margin: 0px;
  margin: 0 0 20px;
}

p{
  margin: 5px 0px;
}