.social-media{
  padding: 10px;
  gap: 10px;
  color: white;
  background-color: azure;
  height: 82vh;
  color: black;
}

.social-media h3{
  margin: 0px;
}

.social-media a{
  margin: 10px 0px; 
  display: block;
  font-size: 1.5rem;
  background-color: cadetblue;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

.social-media a:hover{
  background-color: blue;
}

.social-media a>i{
  margin-right: 10px;
}

@media(max-width: 652px){
  .social-media{
    height: initial;
    padding: 0 10px;
  }
}